.message {
  padding: 10px 0;
  &-profile {

  }

  &-thumbnail {
    
  }

  &-header {
    span {
      font-weight: bolder;
      font-size: 17px;
    }
  }

  &-content {
    box-sizing: border-box;
    width: 100%;
    margin-left: 72px;
  }
}